p{
  color: white;
}

p.popup{
  color:black;
  margin:0;
  padding:0;
}

h3{
  color: white;
}

section{
text-align: center;
}

summary{
  color: white;
}
li{
  color: white;
  list-style-type: none;
}

.darkMap{
  dispay:inline-block;
  border: 1px solid blue;
  flex-direction: column;
  margin:auto;
}

.leaflet-container {
  width: 94%;
  height: 80vh;
}

.headerDiv{
  background-color: blue;
  height:5%;
  text-align: center;
  text:white;
}

.infoHeader{
  text-align: center;
}

.App{
  background-color: black;
}

body{
  background-color: black;
}
